{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'detail.css' %}">
</head>
<body>

    {% include 'sides/navbar.html' %}

    <div class="main-detail-parent">

       <div class="top-image">
        <img src="{{ content.image.url }}"/>

       </div>

       <div class="author">
        <p>By: {{ content.authorname }}</p>

       </div>
       <div class="title">
        <h4>{{ content.title }}</h4>

       </div>
       <div class="content">

        <p>
            {{ content.content }}
        </p>

       </div>

       
    </div>
    
    
</body>
</html>