{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'adminlayout.css' %}">
</head>
<body>
    <div class="left-navbar">
        <ul>
            <li><a href="{% url 'admin-dashboard' %} ">Dashboard</a></li>
            <li>
                <a href="{% url 'admin-create-article' %}">Create Article</a>

            </li>
            <li><a href="{% url 'admin-list-article' %}">Article</a></li>
        </ul>


        
        
    </div>

    
    
</body>
</html>