

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid red;
    padding: 20px;
}
form div{
    display: flex;
    width: 500px;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
form button{
    display: flex;
    width: 120px;

}
.title{
    display: flex;
    flex-direction: column;
}